/* --------------------
   FOOTER
-------------------- */

.footer {
  background: #000;
  padding: 30px;
  text-align: center;
}

.footer p {
  font-weight: 600;
  padding: auto;
  color: white;
}

.social-links span {
  margin: 0 10px;
}

.social-links a {
  color: #fff;
  transition: color 0.3s;
}

.social-links a:hover {
  color: gray;
}



.logo.is-animetion p {
  // display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
}

.logo.is-animetion {
  p:nth-of-type(1){ animation-delay: 0.0s; }
  p:nth-of-type(2){ animation-delay: 0.1s; }
  p:nth-of-type(3){ animation-delay: 0.2s; }
  p:nth-of-type(4){ animation-delay: 0.3s; }
  p:nth-of-type(5){ animation-delay: 0.4s; }
}

@keyframes wave-text{
  00%{
    transform: translateY(0em);
  }
  60%{
    transform: translateY(-0.6em);
  }
  100%{
    transform: translateY(0em);
  }
}

 #explode-view {
    max-width: 100%;
    
    
  }

  




#xray {
  position: relative;
  aspect-ratio: 16/10;
  background-image: url(../../images/Jack-earbud-5-3.jpg);
  background-size: cover;
}

#divisor {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 16/10;
  background-image: url(../../images/Jack-earbud-5-4.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 6px;
    height: 100%;
    background-color: #fff;
  }
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% + 20px);
  height: 20px;
  background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 0;
  background: transparent;
  border: none;
}

input[type=range]::-moz-range-track {
  height: 0;
  background: transparent;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: none;
  cursor: pointer;
  
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border: none;
  cursor: pointer;
}

